{% extends 'layout.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
<h2>Cadastro</h2>
<form method="POST">
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Senha</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Tipo de Usuário</label>
    <select name="role" class="form-control">
      <option value="cliente">Cliente</option>
      <option value="admin">Administrador</option>
    </select>
  </div>
  <button class="btn btn-success">Cadastrar</button>
</form>
<p class="mt-3">Já tem conta? <a href="{{ url_for('auth.login_page') }}">Faça login</a></p>
{% endblock %}
